# Created by https://www.toptal.com/developers/gitignore/api/octobercms
# Edit at https://www.toptal.com/developers/gitignore?templates=octobercms

### OctoberCms ###
/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
selenium.php
/storage

# for netbeans compiler
nbproject

# End of https://www.toptal.com/developers/gitignore/api/octobercms