<footer class="ss-footer">
    <div class="container-master">
        <div class="box-footer" style="position: relative;">
            <div class="f-contact">
                <div class="f-logo" style="height: 100px;"><img src="{{ 'assets/images/logo.png'|theme }}" alt=""></div>
                <div class="f-title">Contact</div>
                <ul>
                    <li><a href="" title=""><img src="{{ 'assets/images/icons/email.png'|theme }}" alt=""><span>Email: education@edu.com</span></a></li>
                    <li><a href="" title=""><img src="{{ 'assets/images/icons/phone.png'|theme }}" alt=""><span>Phone: +1 (234) 567-89-00</span></a></li>
                </ul>
            </div>
            <div class="f-link" style="z-index: 99;">
                <ul>
                    <li><a href="" title="">Home</a></li>
                    <li><a href="" title="">Book</a></li>
                    <li><a href="" title="">Merchandise</a></li>
                    <li><a href="" title="">Game</a></li>
                    <li><a href="" title="">Blog</a></li>
                </ul>
            </div>
            <div class="f-subscribe">
                <div class="f-title">Subscribe</div>
                <form action="">
                    <div class="box-input">
                        <input type="text" placeholder="Your Email here...">
                        <button type="submit"><img src="{{ 'assets/images/icons/email1.png'|theme }}" alt=""></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="f-background" style="margin-top: -290px;">
        <img src="{{ 'assets/images/footer.png'|theme }}" alt="">
    </div>
</footer>